In [1]:
import pandas as pd
import numpy as np

### Identifying spams in strong related

In [2]:
df = pd.read_csv("spamming_detected_all_dataset.csv")
df.count()

datetime              3667775
date                  3667775
date_month            3667775
tweet_id              3667775
processed_text        3667775
text_lower            3667775
textblob_sentiment    3667775
vader_sentiment       3667775
afinn_sentiment       3667775
textblob_score        3667775
vader_score           3667775
afinn_score           3667775
afinn_score_norm      3667775
strength              3667775
has_link              3667775
has_spam              3667775
dtype: int64

In [4]:
df.groupby('strength').count()

,datetime,tweet_id,processed_text,text_lower,textblob_sentiment,vader_sentiment,afinn_score_norm
strength,,,,,,,
strong,172035,172035,172035,172035,172035,172035,172035

In [10]:
text = df.text_lower[1]

In [17]:
text

'hello, monsterland metaverse is a super nft game . go get it now https://t.co/coohewgdc3'

In [7]:
import re

In [30]:
def checkIfHaveLinks(instancia):
    instancia = re.sub(r"http\S+", "has_link", instancia).lower()
    instancia = re.sub(r"https\S+", "has_link", instancia).lower()
    if "has_link" in instancia:
        return "has_link"
    else:
        return "no_link"

In [31]:
df['has_link'] = df.apply(lambda row: checkIfHaveLinks(row['text_lower']), axis=1)

In [33]:
df.groupby('has_link').count()

,datetime,tweet_id,processed_text,text_lower,textblob_sentiment,vader_sentiment,afinn_score_norm,strength
has_link,,,,,,,,
has_link,72412,72412,72412,72412,72412,72412,72412,72412
no_link,99623,99623,99623,99623,99623,99623,99623,99623

In [3]:
df[df['has_link'] == 'has_link']

,datetime,date,date_month,tweet_id,processed_text,text_lower,textblob_sentiment,vader_sentiment,afinn_sentiment,textblob_score,vader_score,afinn_score,afinn_score_norm,strength,has_link,has_spam
0,2021-10-01 00:12:02+00:00,01/10/2021,01/10,1443730389986590720,✨ join thil sunday celebrat 6 month sinc genes...,✨join me this sunday to celebrate 6 months sin...,Positive,Positive,Positive,0.43750,0.8852,3.0,0.485573,weak,has_link,has_spam
1,2021-10-01 00:13:00+00:00,01/10/2021,01/10,1443730633360953344,@top7 @mxcfoundation @defineplatform @yopf @o3...,@top7ico @mxcfoundation @defineplatform @yopfi...,Positive,Positive,Positive,1.00000,0.7249,3.0,0.485573,weak,has_link,has_spam
5,2021-10-01 00:14:09+00:00,01/10/2021,01/10,1443730920435957763,‘ metavers ’ girl group aesp ’ 1st min album ‘...,‘metaverse’ girl group aespa’s 1st mini album ...,Positive,Positive,Positive,0.18750,0.3365,1.0,0.371027,weak,has_link,no_spam
10,2021-10-01 00:15:37+00:00,01/10/2021,01/10,1443731289593430070,genuin #nftcommunity question . ha metavers mo...,genuine #nftcommunity question. \n\ni has meta...,Positive,Positive,Positive,0.40000,0.7184,4.0,0.521139,weak,has_link,has_spam
12,2021-10-01 00:15:42+00:00,01/10/2021,01/10,1443731311819046943,elemon great #elemon #binancesmartchain #gamef...,elemon is great #elemon #binancesmartchain #ga...,Positive,Positive,Positive,0.80000,0.6249,3.0,0.485573,weak,has_link,no_spam
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3667767,2022-04-26 21:33:50+00:00,26/04/2022,26/04,1519067253903347713,rod aprovech su seapod de @rogueshark par ver ...,rod aprovechando su seapod de @roguesharks par...,Negative,Negative,Negative,-0.78125,-0.6562,-3.0,-0.468325,weak,has_link,no_spam
3667768,2022-04-26 21:33:54+00:00,26/04/2022,26/04,1519067267560087553,"first metavers , univers : met smithsonian let...","first the metaverse, now the universe: meta an...",Positive,Neutral,Neutral,0.25000,0.0000,0.0,0.008624,weak,has_link,no_spam
3667770,2022-04-26 21:33:59+00:00,26/04/2022,26/04,1519067288191782913,🚨 road 500 follow 🚨 attn check pinned 📍 📍 📍 of...,🚨 road to 500 followers 🚨\n\nattn check pinned...,Neutral,Neutral,Neutral,0.00000,0.0000,0.0,0.008624,weak,has_link,has_spam
3667771,2022-04-26 21:33:59+00:00,26/04/2022,26/04,1519067289227870211,"latest edg , quantum , 5g , iot , ai ’ emergin...","from the latest in edge, quantum, 5g, iot, and...",Positive,Positive,Positive,0.50000,0.3818,1.0,0.371027,weak,has_link,no_spam
3667772,2022-04-26 21:34:00+00:00,26/04/2022,26/04,1519067294135070721,architect desigm nft real world metavers | ing...,architectural designs as nfts in the real worl...,Positive,Neutral,Neutral,0.20000,0.0000,0.0,0.008624,weak,has_link,has_spam

<blockquote>TODO: usar o count vectorizer para contar os termos em geral e excluir destes fortemente relacionados os tweets que contém os termos não-relacionados (#NFT #Blockchain).<blockquote>

In [4]:
df_users = pd.read_csv(r'C:\Users\wferreira.MPAC\OneDrive\TCC II - Metaverso\workspace\twitter-EDA\tweets_preprocessing\identify_number_of_posts_per_user.csv')

In [5]:
df_users.head()

,Unnamed: 0,datetime,tweet_id,text,username,numberOfPosts
0,0,2021-10-01 00:12:02+00:00,1443730389986590720,✨Join me this Sunday to celebrate 6 months sin...,BoxheadTweets,mais de 1 Até 5
1,1,2021-10-01 00:13:00+00:00,1443730633360953344,@top7ico @MXCfoundation @DeFinePlatform @YOPfi...,deenguyen0102,entre 10 e 50
2,2,2021-10-01 00:13:09+00:00,1443730669419446291,@MetaSpatial_io Good project go to the moon 🚀🚀...,alucard_aluca,entre 5 e 10
3,3,2021-10-01 00:13:18+00:00,1443730706409033728,@Metaverse_Yin I just take the hype as alpha lol,Paperhands41,entre 10 e 50
4,4,2021-10-01 00:13:56+00:00,1443730867797565442,@Metaverse_Yin Keep it coming ! Lmao,BigLouGutter,entre 50 e 100

In [8]:
df_users.groupby('numberOfPosts')[['username']].count()

                    username
numberOfPosts
1 ou menos            687088
entre 10 e 50         848419
entre 100 e 1000      463098
entre 1000 e 10000    104371
entre 5 e 10          412867
entre 50 e 100        267912
mais de 1 Até 5       872245
mais de 10000          11775

In [12]:
users = df_users[['tweet_id','numberOfPosts']]

In [13]:
merge = pd.merge(left=df, right=users, left_on='tweet_id', right_on='tweet_id')

In [19]:
merge.columns = ['datetime', 'tweet_id', 'processed_text', 'text_lower',
       'textblob_sentiment', 'vader_sentiment', 'afinn_sentiment',
       'textblob_score', 'vader_score', 'afinn_score', 'afinn_score_norm',
       'strength', 'has_link', 'has_spam', 'user_presence']

In [21]:
merge.to_csv('all_dataset_processed.csv', index=False)

In [15]:
merge.columns

Index(['datetime', 'date', 'date_month', 'tweet_id', 'processed_text',
       'text_lower', 'textblob_sentiment', 'vader_sentiment',
       'afinn_sentiment', 'textblob_score', 'vader_score', 'afinn_score',
       'afinn_score_norm', 'strength', 'has_link', 'has_spam',
       'numberOfPosts'],
      dtype='object')

### Identificando termos comuns utilizados

In [50]:
# import CountVectorizer to count the number of times each word occurs
from sklearn.feature_extraction.text import CountVectorizer
# Create an array that shows the number of times specific terms appear in column text
cv = CountVectorizer(ngram_range = (1,1))
count_matrix = cv.fit_transform(df.processed_text)
# create dataframe
word_count = pd.DataFrame(cv.get_feature_names(), columns = ['term'])
# sum the presence of terms and turn it into a list
word_count["count"] = count_matrix.sum(axis=0).tolist()[0]
word_count = word_count.sort_values("count", ascending=False).reset_index(drop=True)
# most used words
word_count[:]

c:\Users\wferreira.MPAC\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

                    term    count
0               metavers  3867285
1                    nft  1242294
2                   thil   767384
3                project   652489
4                  crypt   302888
...                  ...      ...
1158888    horlarmide_22        1
1158889    horlarprestig        1
1158890    horlarwhale90        1
1158891  horlaryeankarrr        1
1158892             𝟸𝟶𝟸𝟷        1

[1158893 rows x 2 columns]

In [56]:
word_count[word_count['term'] == 'token']

     term   count
41  token  109689

#### Salvando imagens

In [37]:
import dataframe_image as dfi

##### strength

In [ ]:
strength = merge[['text_lower','strength', 'has_link', 'has_spam', 'user_presence']]
dfi.export(
    strength.head(20),
    "table_strength.png",
    table_conversion="matplotlib"
)

##### spam

In [ ]:
spam = merge[['text_lower','has_link', 'has_spam', 'user_presence']]
dfi.export(
    spam.head(20),
    "table_spam.png",
    table_conversion="matplotlib"
)

##### spam isolated

In [ ]:
spam = merge[['text_lower','user_presence']]
dfi.export(
    spam.head(20),
    "table_spam_user.png",
    table_conversion="matplotlib"
)

In [ ]:
dfi.export(
    only_norm.head(20),
    "table_afinn_norm.png",
    table_conversion="matplotlib"
)

### Algoritmo pra detectar spamming terms

In [50]:
spammingTerms = ['thil','nft','crypt','blockchain','asset','token']

def checkIfHaveSpammingTerms(text):
    for term in spammingTerms:
        if term in text:
            return "has_spam"
    return "no_spam"

df['has_spam'] = df.apply(lambda row: checkIfHaveSpammingTerms(row['text_lower']), axis=1)

#### Algoritmo para detectar spam por links

In [ ]:
import re

def checkIfHaveLinks(text):
    text = re.sub(r"http\S+","has_link",text).lower()
    text = re.sub(r"https\S+","has_link",text).lower()
    if "has_link" in text:
        return "has_link"
    else:
        return "no_link"

df['has_link'] = df.apply(lambda row: checkIfHaveLinks(row['text_lower']), axis=1)

#### Algoritmo para detectar força da relação

In [ ]:
relatedTopics = [
    "metaverse is",
    "what metaverse",
    "is metaverse",
    "metaverses are",
    "what metaverses",
    "are metaverses"
]

def checkIfRelated(text):
    for term in relatedTopics:
        if term in text:
            return 'strong'
    return 'weak'

df['strength'] = df.apply(lambda row: checkIfRelated(row['text_lower']), axis=1)

In [48]:
word_count[word_count['term'].str.contains('token')]

                term  count
171            token   1897
1554       tokeninar    203
2182       tokenomic    129
2241      _tokenhunt    126
2302       shibtoken    121
...              ...    ...
114990   iceboxtoken      1
115142  homeruntoken      1
115264     hmmmtoken      1
115429    huboxtoken      1
115466      hpitoken      1

[337 rows x 2 columns]

##### Identificando usuários spammers

In [61]:
merge.groupby(['strength','has_spam','user_presence'])[['tweet_id']].count()

                                      tweet_id
strength has_spam user_presence
strong   has_spam 1 ou menos              6383
                  entre 10 e 50          12138
                  entre 100 e 1000        5435
                  entre 1000 e 10000       737
                  entre 5 e 10            5502
                  entre 50 e 100          3763
                  mais de 1 Até 5        10058
                  mais de 10000             45
         no_spam  1 ou menos             34912
                  entre 10 e 50          24835
                  entre 100 e 1000        8932
                  entre 1000 e 10000      1190
                  entre 5 e 10           14532
                  entre 50 e 100          6804
                  mais de 1 Até 5        36443
                  mais de 10000            326
weak     has_spam 1 ou menos            219855
                  entre 10 e 50         421870
                  entre 100 e 1000      265825
                  entre 1000 e 10000     58262
                  entre 5 e 10          183420
                  entre 50 e 100        140241
                  mais de 1 Até 5       337787
                  mais de 10000           2627
         no_spam  1 ou menos            425938
                  entre 10 e 50         389576
                  entre 100 e 1000      182906
                  entre 1000 e 10000     44182
                  entre 5 e 10          209413
                  entre 50 e 100        117104
                  mais de 1 Até 5       487957
                  mais de 10000           8777

##### Balanceando a base por categoria

In [107]:
pd.set_option('display.precision', 2)
pd.set_option('display.float_format',  '{:,.2f}'.format)

In [63]:
import numpy as np
from sklearn.utils import resample

In [108]:
merge[(merge['has_link'] == 'no_link') & (merge['has_spam'] == 'no_spam') & (merge['user_presence'] == '1 ou menos')]

,datetime,tweet_id,processed_text,text_lower,textblob_sentiment,vader_sentiment,afinn_sentiment,textblob_score,vader_score,afinn_score,afinn_score_norm,strength,has_link,has_spam,user_presence
21,2021-10-01 00:18:24+00:00,1443731988792422403,@dystopiabreak @notbrunoagain agre “ metavers ...,@dystopiabreaker @notbrunoagain do we agree th...,Neutral,Neutral,Neutral,0.00,0.00,0.00,0.01,weak,no_link,no_spam,1 ou menos
38,2021-10-01 00:25:34+00:00,1443733795090284576,roadmap project includ metavers integration li...,roadmap for the project includes metaverse int...,Neutral,Neutral,Neutral,0.00,0.00,0.00,0.01,weak,no_link,no_spam,1 ou menos
51,2021-10-01 00:27:26+00:00,1443734264013598723,@smsunart @patrickpresent @poktnetwork @tmod_m...,@smsunarto @patrickpresents @poktnetwork @tmod...,Neutral,Positive,Neutral,0.00,0.27,0.00,0.01,weak,no_link,no_spam,1 ou menos
117,2021-10-01 00:46:08+00:00,1443738971750666242,@scobleiz ’ happy mac / iphon u . ’ concerned ...,@scobleizer i’m a happy mac/iphone user. but i...,Positive,Negative,Negative,0.13,-0.32,-3.00,-0.47,weak,no_link,no_spam,1 ou menos
119,2021-10-01 00:46:42+00:00,1443739113040064515,@metaspatial_i thil definitely going hug ! te ...,@metaspatial_io this definitely going to be hu...,Positive,Positive,Positive,0.25,0.94,9.00,0.64,weak,no_link,no_spam,1 ou menos
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3667642,2022-04-26 21:26:43+00:00,1519065459328495616,@wintermarshy metavers ? ’ sorry l,@wintermarshy metaverse? i’m sorry but l,Negative,Positive,Negative,-0.50,0.40,-1.00,-0.35,weak,no_link,no_spam,1 ou menos
3667699,2022-04-26 21:30:17+00:00,1519066360323710976,@metanewsroom metavers @ceek,@metanewsroom metaverse @ceek,Neutral,Neutral,Neutral,0.00,0.00,0.00,0.01,weak,no_link,no_spam,1 ou menos
3667709,2022-04-26 21:30:53+00:00,1519066508697247746,"@adamlevitin sur , suppos collectiv consci cou...","@adamlevitin sure, and i suppose our collectiv...",Negative,Neutral,Positive,-0.30,0.00,1.00,0.37,weak,no_link,no_spam,1 ou menos
3667745,2022-04-26 21:32:55+00:00,1519067020028833792,metavers rlly crazy ’ gonn becom real lif sim tim,the metaverse is rlly crazy we’re gonna become...,Negative,Negative,Negative,-0.20,-0.34,-2.00,-0.42,strong,no_link,no_spam,1 ou menos
3667751,2022-04-26 21:33:15+00:00,1519067106062573574,phasing metavers becaus lif ha meaning,phasing in and out of the metaverse because li...,Neutral,Positive,Positive,0.00,0.34,2.00,0.44,weak,no_link,no_spam,1 ou menos

In [79]:
merge['user_presence'].value_counts()

mais de 1 Até 5       872245
entre 10 e 50         848419
1 ou menos            687088
entre 100 e 1000      463098
entre 5 e 10          412867
entre 50 e 100        267912
entre 1000 e 10000    104371
mais de 10000          11775
Name: user_presence, dtype: int64

In [76]:
dataset_minor = merge[merge['strength'] == 'strong']
dataset_major = merge[merge['strength'] == 'weak']

Fracos e Não spam

In [93]:
dataset_major[(dataset_major['has_link'] == 'no_link') & ((dataset_major['has_spam'] == 'no_spam'))].groupby(['textblob_sentiment'])[['tweet_id']].count()

                    tweet_id
textblob_sentiment
Negative               90323
Neutral               397357
Positive              364110

Fortes e Não spam

In [94]:
dataset_minor[(dataset_minor['has_link'] == 'no_link') & ((dataset_minor['has_spam'] == 'no_spam'))].groupby(['textblob_sentiment'])[['tweet_id']].count()

                    tweet_id
textblob_sentiment
Negative               12549
Neutral                30720
Positive               31598

Fracos e Spam

In [91]:
dataset_major[(dataset_major['has_link'] == 'has_link') & ((dataset_major['has_spam'] == 'has_spam'))].groupby(['textblob_sentiment'])[['tweet_id']].count()

                    tweet_id
textblob_sentiment
Negative               66393
Neutral               454466
Positive              523524

Fortes e Spam

In [90]:
dataset_minor[(dataset_minor['has_link'] == 'has_link') & ((dataset_minor['has_spam'] == 'has_spam'))].groupby(['textblob_sentiment'])[['tweet_id']].count()

                    tweet_id
textblob_sentiment
Negative                1700
Neutral                 7515
Positive               10090

In [ ]:
X_undersampled, y_undersampled = resample(merge[merge['strength'] == 'weak'], merge[merge['strength'] == 'strong'],
                replace=True,
                n_samples=merge[merge['strength'] == 'strong'].shape[0],
                random_state=123)