In [1]:
import pandas as pd

In [82]:
cols=[
    'date',
    'id',
    'content',
    'lang',
    'likeCount',
    'rtCount',
    'replyTo',
    'retweeted',
    'userId',
    'userName',
    'userFollowers',
    'userFavouritesCount',
    'userVerified',
    'userCreated_at'
]

In [83]:
df = pd.read_csv(r"C:\Users\Wallison Ferreira\OneDrive\TCC II - Metaverso - Este Sim Agora Vai\workspace\twitter-extractor\tweets_tests\metaverse_teste.csv", names=cols)

In [84]:
non_duplicates = df.drop_duplicates('id')

In [85]:
len(non_duplicates), len(df)

(353404, 430974)

In [92]:
non_duplicates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 353404 entries, 0 to 430973
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   date                 353404 non-null  object
 1   id                   353404 non-null  int64
 2   content              353404 non-null  object
 3   lang                 353404 non-null  object
 4   likeCount            353404 non-null  int64
 5   rtCount              353404 non-null  int64
 6   replyTo              100285 non-null  object
 7   retweeted            0 non-null       float64
 8   userId               353404 non-null  int64
 9   userName             353404 non-null  object
 10  userFollowers        353404 non-null  int64
 11  userFavouritesCount  353404 non-null  int64
 12  verified             353404 non-null  bool
 13  created_at           353404 non-null  object
dtypes: bool(1), float64(1), int64(6), object(6)
memory usage: 38.1+ MB

In [93]:
non_duplicates[non_duplicates['lang'] == 'en'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 352097 entries, 1 to 430973
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   date                 352097 non-null  object
 1   id                   352097 non-null  int64
 2   content              352097 non-null  object
 3   lang                 352097 non-null  object
 4   likeCount            352097 non-null  int64
 5   rtCount              352097 non-null  int64
 6   replyTo              99747 non-null   object
 7   retweeted            0 non-null       float64
 8   userId               352097 non-null  int64
 9   userName             352097 non-null  object
 10  userFollowers        352097 non-null  int64
 11  userFavouritesCount  352097 non-null  int64
 12  verified             352097 non-null  bool
 13  created_at           352097 non-null  object
dtypes: bool(1), float64(1), int64(6), object(6)
memory usage: 37.9+ MB

### Abaixo podemos ver a quantidade de tweets de cada coluna para cada idioma

In [94]:
non_duplicates.groupby('lang').count()

,date,id,content,likeCount,rtCount,replyTo,retweeted,userId,userName,userFollowers,userFavouritesCount,verified,created_at
lang,,,,,,,,,,,,,
ca,18,18,18,18,18,1,0,18,18,18,18,18,18
cy,7,7,7,7,7,6,0,7,7,7,7,7,7
da,18,18,18,18,18,5,0,18,18,18,18,18,18
de,51,51,51,51,51,13,0,51,51,51,51,51,51
en,352097,352097,352097,352097,352097,99747,0,352097,352097,352097,352097,352097,352097
es,77,77,77,77,77,32,0,77,77,77,77,77,77
et,31,31,31,31,31,7,0,31,31,31,31,31,31
eu,1,1,1,1,1,0,0,1,1,1,1,1,1
fr,99,99,99,99,99,33,0,99,99,99,99,99,99
ht,27,27,27,27,27,18,0,27,27,27,27,27,27
hu,2,2,2,2,2,0,0,2,2,2,2,2,2
in,38,38,38,38,38,25,0,38,38,38,38,38,38
it,34,34,34,34,34,25,0,34,34,34,34,34,34
lt,8,8,8,8,8,6,0,8,8,8,8,8,8
lv,2,2,2,2,2,2,0,2,2,2,2,2,2
nl,24,24,24,24,24,14,0,24,24,24,24,24,24
no,30,30,30,30,30,11,0,30,30,30,30,30,30
pl,2,2,2,2,2,0,0,2,2,2,2,2,2
pt,764,764,764,764,764,285,0,764,764,764,764,764,764
sv,2,2,2,2,2,0,0,2,2,2,2,2,2
tl,50,50,50,50,50,43,0,50,50,50,50,50,50
tr,16,16,16,16,16,9,0,16,16,16,16,16,16
und,1,1,1,1,1,1,0,1,1,1,1,1,1
vi,5,5,5,5,5,2,0,5,5,5,5,5,5

### Abaixo podemos ver a quantidade de tweets feito por perfis verificados

In [95]:
non_duplicates.groupby('verified').count()

,date,id,content,lang,likeCount,rtCount,replyTo,retweeted,userId,userName,userFollowers,userFavouritesCount,created_at
verified,,,,,,,,,,,,,
False,344930,344930,344930,344930,344930,344930,98967,0,344930,344930,344930,344930,344930
True,8474,8474,8474,8474,8474,8474,1318,0,8474,8474,8474,8474,8474

##### TODO: discretizar colunas de quantidade de likes, quantidade de RTs, quantidade de seguidores e quantidade de favourites (total de tweets) e fazer um rankeamento para ver quais variáveis mais influenciam entre sí