In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("sentiment_scores_dates.csv")

In [4]:
df.head()

,datetime,date,date_month,tweet_id,processed_text,text_lower,textblob_sentiment,vader_sentiment,afinn_sentiment,textblob_score,vader_score,afinn_score,afinn_score_norm
0,2021-10-01 00:12:02+00:00,01/10/2021,01/10,1443730389986590720,âœ¨ join thil sunday celebrat 6 month sinc genes...,âœ¨join me this sunday to celebrate 6 months sin...,Positive,Positive,Positive,0.4375,0.8852,3.0,0.485573
1,2021-10-01 00:13:00+00:00,01/10/2021,01/10,1443730633360953344,@top7 @mxcfoundation @defineplatform @yopf @o3...,@top7ico @mxcfoundation @defineplatform @yopfi...,Positive,Positive,Positive,1.0000,0.7249,3.0,0.485573
2,2021-10-01 00:13:09+00:00,01/10/2021,01/10,1443730669419446291,@metaspatial_i good project go moon ðŸš€ ðŸš€ ðŸš€ @muh...,@metaspatial_io good project go to the moon ðŸš€ðŸš€...,Positive,Positive,Positive,0.7000,0.4404,3.0,0.485573
3,2021-10-01 00:13:18+00:00,01/10/2021,01/10,1443730706409033728,@metaverse_yin tak hyp alph lol,@metaverse_yin i just take the hype as alpha lol,Positive,Positive,Positive,0.8000,0.4215,3.0,0.485573
4,2021-10-01 00:13:56+00:00,01/10/2021,01/10,1443730867797565442,@metaverse_yin keep coming ! lma,@metaverse_yin keep it coming ! lmao,Neutral,Neutral,Neutral,0.0000,0.0000,0.0,0.008624

In [17]:
df.columns

Index(['datetime', 'date', 'date_month', 'tweet_id', 'processed_text',
       'text_lower', 'textblob_sentiment', 'vader_sentiment',
       'afinn_sentiment', 'textblob_score', 'vader_score', 'afinn_score',
       'afinn_score_norm'],
      dtype='object')

In [18]:
sample = df[['datetime', 'tweet_id','text_lower','textblob_sentiment', 'vader_sentiment',
       'afinn_sentiment', 'textblob_score', 'vader_score', 'afinn_score',
       'afinn_score_norm']]

In [22]:
sample.to_csv(r'C:\Users\Wallison Ferreira\OneDrive\TCC II - Metaverso\workspace\twitter-EDA\tweets_studies_ranking\sample.csv', index=False)

In [41]:
df.to_csv(r'C:\Users\Wallison Ferreira\OneDrive\TCC II - Metaverso\workspace\twitter-EDA\tweets_studies_ranking\dataset_score.csv', index=False)

In [ ]:
sample['datetime'] = pd.to_datetime(sample['datetime'])

In [29]:
time_key = pd.Grouper(freq='M')

In [52]:
resampled = (sample.set_index('datetime').groupby(['afinn_sentiment',time_key])[['tweet_id']].count())

In [53]:
resampled.to_csv(r'C:\Users\Wallison Ferreira\OneDrive\TCC II - Metaverso\workspace\twitter-EDA\tweets_studies_ranking\afinn_monthly_qtd.csv')

##### Check the strength of relationship in documents

In [54]:
relatedTopics = 'metaverse is|what metaverse|is metaverse|what is metaverse|what metaverse is|metaverses are|what metaverses|are metaverses|what metaverses are'

In [11]:
related = [
    'metaverse is',
    'what metaverse',
    'is metaverse',
    'what is metaverse',
    'what metaverse is',
    'metaverses are',
    'what metaverses',
    'are metaverses',
    'what metaverses are'
]

def checkIfRelated(text):
    print(text)
    for term in related:
        if term in text:
            return 'strong'
    return 'weak'

In [12]:
checkIfRelated('what is metaverse anyway')

what is metaverse anyway

'strong'

In [70]:
from tqdm import tqdm
tqdm.pandas()

In [ ]:
df['strength'] = df.progress_apply(lambda row: checkIfRelated(row['text_lower']), axis=1)

In [72]:
df.groupby('strength').count()

,datetime,date,date_month,tweet_id,processed_text,text_lower,textblob_sentiment,vader_sentiment,afinn_sentiment,textblob_score,vader_score,afinn_score,afinn_score_norm
strength,,,,,,,,,,,,,
weak,3667775,3667775,3667775,3667775,3667775,3667775,3667775,3667775,3667775,3667775,3667775,3667775,3667775

Singular

- metaverse is (139237)
- what metaverse (2932)
- is metaverse (31952)
- what is metaverse (1794)
- what metaverse is (884)

Plural

- metaverses are (604)
- what metaverses (26)
- are metaverses (58)
- what are metaverses (0)
- what metaverses are (9)